<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.remoteswitches"
        version   = "2.0.0">
    <name>Remote Switch</name>

    <description>
        Remote switch app.
    </description>

    <icon src="img/cblogo.png" />
    <icon src="res/icon/android/36x36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/48x48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/72x72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/96x96.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>